main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    background-color: white;
    width: 95%;
    margin: 2%;
    border-radius: 15px;
}

.pokeImg {
    width: 50%;
    margin: 6% auto;
}

.pokeData {
    height: auto;
    margin: 6%;
}

.pokeInfo {
    padding-left: 5%;
}

.pokeTraining {
    width: 45%;
    height: auto;
}

.pokeBreeding{
    padding-left: 5%;
    padding-right: 5%;
}

.pokeStats {
    height: 275px;
    padding-left: 5%;
}

.pokeType > span {
    display: inline-flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.644);
    width: 80px;
    border-radius: 15px;
    color: white;
    padding: 0.2rem;
    margin: 0.2rem;
}

.pokeType {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3 {
    margin-bottom: 0.5rem;
}