main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    background-color: white;
    width: 95%;
    margin: 2%;
    border-radius: 15px;
}

.pokeImg {
    margin: 25% auto;
    height: 150px;
}

.pokeData {
    margin: 6%;
    height: 150px;
}

.pokeInfo {
    padding-left: 5%;
    height: 200px;
}

.pokeTraining {
    width: 45%;
    height: 200px;
}

.pokeBreeding{
    padding-left: 5%;
    padding-right: 5%;
    height: 200px;
}

.pokeStats {
    height: 315px;
    padding-left: 5%;
}

.pokeType > span {
    display: inline-flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.644);
    width: 80px;
    border-radius: 15px;
    color: white;
    padding: 0.2rem;
    margin: 0.2rem;
}

.pokeType {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3 {
    margin-bottom: 0.5rem;
}

.MuiTableHead-root {
    display: block !important;
    font-weight: 600;
    margin-top: 20px;
}

.horizontal .progress-bar {
    float: left;
    height: 45px;
    width: 100%;
    padding: 12px 0;
  }
  
  .horizontal .progress-fill {
    position: relative;
    background: rgb(223, 108, 0);
    border-radius: 20px;
    padding-left: 5px;
    height: 20px;
    color: #fff;
    text-align: center;
    font-family: "Lato","Verdana",sans-serif;
    font-size: 12px;
    line-height: 20px;
  }

  .progress-fill-special {
    position: relative;
    background: rgb(236, 193, 0);
    border-radius: 20px;
    padding-left: 5px;
    height: 20px;
    color: #fff;
    text-align: center;
    font-family: "Lato","Verdana",sans-serif;
    font-size: 12px;
    line-height: 20px;
  }
  
  .rounded .progress-track,
  .rounded .progress-fill {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  }

  .stateTitle {
    font-weight: 600;
    margin-bottom: 5px;
  }

@media (min-width: 310px) and (max-width: 580px) {

    main {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        background-color: white;
        width: 95%;
        margin: 2%;
        border-radius: 15px;
    }

    .pokeInfo {
        height: 200px;
    }

    .pokeBreeding {
        margin-top: 10%;
    }

}

@media (min-width: 581px) and (max-width: 850px) {

}

@media (min-width: 851px) and (max-width: 1200px) {

}