.containDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.identify {
    padding: 5px;
    height: 50px;
    background-color: #cacacaa2;
    border-bottom: 1px solid rgba(128, 128, 128, 0.548);
}

.pokeIndex{
    font-size: 2rem;
    padding-left: 10px;
    font-weight: 400;
    width: 400px;
}

span {
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    margin: 0.2rem;
    width: 4rem;
    border-radius: 50px;
    border: 1px solid rgba(95, 95, 95, 0.548)
}

.pokeName {
    display: inline-block;
    border: none;
    font-weight: 800;
}

section {
    display: flex;
}

section > img {
    padding: 1rem;
    margin: 1rem;
}


.types {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 50px;
}

