.wrapper {
    display: grid;
    margin: 20px 20px;
    text-align: center;
    text-transform: capitalize;

    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
    row-gap: 1em;
}

.wrapper div {
    border: 1px solid black;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
    line-height: 50px;
    margin: 20px;
}